*{
    box-sizing: 0;
    margin: 0;
    padding: 0;

}

body{
width: 100%;
height: auto;
min-height: 100vh;
background-color: #efefef;
}

img video{
width: 100%;
}
a,a::after,a::before,a:active,a:link{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: rgb(255, 41, 3);
    color: white;
    padding: 20px;
}

h2 {
    color: rgb(255, 41, 3);
}

.about-me, .hobbies, .sports {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}