@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief&display=swap');







.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* 
?Google Fonts
--------------
*Josef Sans

font-family: "Josefin Sans", sans-serif;


?Content
-------
*Comic

font-family: "Comic Relief", system-ui;





















*/